
.titleHero{
    display: flex;
    justify-content: space-between;
}

#foodLovers{
    border: coral 2px ridge;
}

#titleFoodlovers{
    position: relative ;
    top: 10px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bolder;
}

.hero-body{
    padding-bottom: 0px;
    padding-top: 30px;
}